@using System
@using System.Threading
@{
    var titleTag = (string.IsNullOrWhiteSpace(ViewBag.Title) ? "" : ViewBag.Title + " - ") + Resources.Common.ApplicationName;

    // set up global js variable, to hold culture code
    // it is later used for globalize, cldr and moment
    var currentCultureCode = "root";
    switch (Thread.CurrentThread.CurrentCulture.ToString())
    {
        case "et-EE":
            currentCultureCode = "et";
            break;
        case "en-US":
            currentCultureCode = "en";
            break;
        default:
            currentCultureCode = Thread.CurrentThread.CurrentCulture.ToString();
            break;
    }
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @*<script src="https://apis.google.com/js/platform.js" async defer></script>
    <meta name="google-signin-client_id" content="992178576384-afdl60lk4nsappemghu9k07mh9gqm139.apps.googleusercontent.com">*@
    <script type="text/javascript">
        var currentCultureCode = '@currentCultureCode';
    </script>

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink(Resources.Common.ApplicationName, "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink(Resources.Common.Home, "Index", "Home")</li>
                    <li>@Html.ActionLink(Resources.Common.People, "Index", "Persons")</li>
                    <li>@Html.ActionLink(Resources.Common.Contacts, "Index", "Contacts")</li>
                    <li>@Html.ActionLink(Resources.Common.Home, "Index", "Competitions")</li>
                    <li>@Html.ActionLink(Resources.Common.Exercises, "Index", "Exercises")</li>
                    <li>@Html.ActionLink(Resources.Common.Participations, "Index", "Participations")</li>
                    <li>@Html.ActionLink(Resources.Common.Plans, "Index", "Plans")</li>
                    <li>@Html.ActionLink(Resources.Common.Workouts, "Index", "Workouts")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Kaspar Tilk ASP.NET project \\ (Culture:<b>@Culture</b> UICulture:<b>@UICulture</b>)</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/cldr")
    @Scripts.Render("~/bundles/globalize")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/moment")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/app")

    @RenderSection("scripts", required: false)
</body>
</html>
